.sharejs .share-toggle {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -999px;
  overflow: hidden;
  opacity: 0.8;
  text-align: left;
}

.sharejs-links-wrapper {
  font-size: 0;
}

.sharejs .share-toggle:hover {
  opacity: 1;
}

.sharejs .share-toggle.email {
  background: transparent url('icons/email.png');
}

.sharejs .share-toggle.facebook {
  background: transparent url('icons/facebook.png');
}

.sharejs .share-toggle.googleplus {
  background: transparent url('icons/googleplus.png');
}

.sharejs .share-toggle.pinterest {
  background: transparent url('icons/pinterest.png');
}

.sharejs .share-toggle.tumblr {
  background: transparent url('icons/tumblr.png');
}

.sharejs .share-toggle.twitter {
  background: transparent url('icons/twitter.png');
}

.sharejs .share-toggle.reddit {
  background: transparent url('icons/reddit.png');
}

.sharejs .share-toggle.linkedin {
  background: transparent url('icons/linkedin.png');
}

.sharejs .share-toggle.myspace {
  background: transparent url('icons/myspace.png');
}
